streamlit==1.30.0
google-api-python-client
google-ads-api-report-fetcher
tenacity
langchain
langchain-community
langchain-google-genai
langchain-google-vertexai
watchdog
pyyaml
beautifulsoup4
tiktoken
streamlit-elements
PyJWT
google-auth-oauthlib
google-auth-httplib2
google-cloud-aiplatform
cryptography
python-dotenv
