streamlit==1.24.0
google-api-python-client
google-ads
google-ads-api-report-fetcher
tenacity
langchain
watchdog
openai
pyyaml
beautifulsoup4
tiktoken
transformers
streamlit-lottie
streamlit-elements
PyJWT
git+https://github.com/dulacp/st_oauth.git@52afffa22b00637b9b2199eaeddce449efbf044f#egg=st_oauth
matplotlib
google-auth-oauthlib
google-auth-httplib2
google-cloud-aiplatform
alive-progress
