streamlit==1.32.2
google-api-python-client
google-ads
google-ads-api-report-fetcher
tenacity
langchain
langchain-google-genai
langchain-google-vertexai
watchdog
openai
pyyaml
beautifulsoup4
tiktoken
transformers
streamlit-elements
PyJWT
git+https://github.com/FrancoisPerez/st_oauth.git
matplotlib
google-auth-oauthlib
google-auth-httplib2
google-cloud-aiplatform
alive-progress